html{
    height: 100%;
}
body{
    margin: 0;
    
    background-position: center;
    background-color:  #3a9c7c;
    font-family: 'Source Code Pro', monospace;
    /*overflow-x: hidden;*/
    animation: bgcol 4s;
    height: 100%;

}
div{
    height: 100%;
}



H1{
    display: inline-block;
    position: absolute;
    width:23%;
    margin: 10% 40% 0 ;
    font-family: 'Bonheur Royale', cursive;
    font-size: 744%;
    z-index: 1000;
    text-align: center;
  

}

H1:hover{
    display: inline-block;
    position: absolute;
    width:23%;
    margin: 11% 40% 0 ;
    font-family: 'Bonheur Royale', cursive;
    font-size: 744%;
    color: #489F7C;
    transition: .6s;
    text-align: center;

}
p{
    
    position: absolute;
    width:100%;
    font-size: 144%;
    margin-top: 17%;
    text-align: center;
    'Montserrat', sans-serif;
}


H2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

H3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
hr{
    border-color:#5d3f34;
    background-color: none;
    border-style: dotted;
    width: 20%;
    border-bottom: none;
    border-width:19px;
    
}
.top{
    position: relative;
   
}


.bg{
    width: 100%;
    height: 100%;
    top: 0;

    
}
.bot{
    position: relative;
    text-align: center;
    width: 100%;
    height:62.5%;

}
.bot-in-1{
    position: absolute;
    width: 30%;
    left: 1.5%;
}
.bot-in-2{
    position: absolute;
    width: 30%;
    left: 34.8%;
}
.bot-in-3{
    position: absolute;
    width: 30%;
    left: 68.1%;
}
.mid{
    position: relative;
    text-align: center;
    width: 100%;
    height:62.5%;

}
.profile-text{
    display: inline-block;
    position: absolute;
    width: 40%;
    text-align: left;
    margin-top: 1.6%;
    font-size: 2.6em;
}
.profile-p-text{
    display: inline-block;
    position: absolute;
    width: 40%;
    text-align: left;
    margin-top: 8.6%;
    font-family: 'Source Code Pro', sans-serif;
    /*font-size: 2.6em;*/
}
.work{
    
    text-shadow:-5px 3px 5px #26624e ;
    font-size:3em;
    margin:0;
}
.work-image{
    height: 80%;
    margin: 5% auto 5%;
    border-radius: 10%;
    box-shadow: -10px 9px 10px #26624e;
    opacity: 60%;
    transition: 1s;
}
.work-image:hover{
    height: 90%;
    margin: 5% auto 5%;
    border-radius: 10%;
    box-shadow: -10px 9px 10px #26624e;
    opacity: 100%;
    transition: 1s;
}
.work-sub{
    margin-top: 0;
}

#profile{
    border-radius: 10%;
    box-shadow: -10px -9px 10px #26624e;
    position: absolute;
    transform: rotate(-90deg);
    height: 95%;
    width: 29.5%;
    right: 54%;
    top: 4.4%;
    transition: 1s;
}
#profile:hover{
    border-radius: 10%;
    box-shadow:10px 15px 10px #26624e;
    position: absolute;
    transform: rotate(0deg);
    height: 95%;
    width: 29.5%;
    right: 54%;
    top: 4.4%;
    transition: 1s;
}
/*.bg1{
    animation: bgup1 2s;
    width: 100%;
    height: 100%;
    
}
.bg2{
    position: relative;
    animation: bgup1 2s;
    width: 100%;
    height: 100%;
    bottom: 1029px;
}

.bg3{
    position: absolute;
    
    bottom: 50.6%;
    left: -4px;
}*/

.bird{
    position: absolute;
    top: 0px;
    left: 0px;
}
.bird2{
    position: absolute;
    width: 15%;
    top: 0;
    left: 70%;
    top: 30%;
}


/*
@keyframes bgup1 {
    from {
        width: 100%;
        margin-top: 3%;


    }
    
    to {
        width: 100%;
        margin-top: 0;

    }
}
@keyframes bgcol {
    from {
        
        background-color: rgb(243,136,118);
       


    }
    
    to {
        
        background-color:  #3a9c7c;
        

    }
}*/

